<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
	<table>
		<tr><th>번호</th><th>사번</th><th>이름</th><th>업무</th><th>급여</th></tr>
		<c:forEach var="emp" items="${listEmp }">
		<tr>
			<td>${num }</td>
			<td>${emp.empno }</td>
			<td><a href="detailEmp?empno=${emp.empno }">${emp.ename }</a></td>
			<td>${emp.job }</td>
			<td>${emp.sal }</td>
		</tr>
		<c:set var="num" value="${num-1 }"></c:set>
		</c:forEach>
	</table>
	

</html>
